In [1]:
#Import libraries
import sqlite3
import pandas as pd

In [2]:
#Datbase path
db_path = "mock_dbo.sqlite"

In [3]:
#Connect to the database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [4]:
#List all tables
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in database:", tables)

Tables in database:                                       name
0                             AttributeDim
1                                  DateDim
2                       DiagnosisEventFact
3                          FlowsheetRowDim
4                           SocialFactorsX
5                       BloodPressureFactX
6           CancerStagingAttributeValueDim
7                        CancerStagingFact
8                             DiagnosisDim
9                          DiagnosisSetDim
10                 DiagnosisTerminologyDim
11                             DurationDim
12                             EdVisitFact
13                           EncounterFact
14                      FlowsheetValueFact
15                   HospitalAdmissionFact
16                             ImagingFact
17                         LabComponentDim
18                  LabComponentResultFact
19              LabComponentResultTextFact
20                             LabTestFact
21            LdaFlowsheetUclhMappingFactX
22                            LdaUclhFactX
23  MedicationAdministrationComponentFactX
24               MedicationCodeMappingDimX
25                           MedicationDim
26             MedicationOrderAllUclhFactX
27                     MedicationOrderFact
28             PatientCareRegistrationFact
29                              PatientDim
30                       PlaceOfServiceDim
31                            ProcedureDim
32                    ResusStatusUclhFactX
33                        SurgicalCaseFact
34                            TimeOfDayDim

In [6]:
#Query a specific table
table_name = "ImagingFact"
query = f"SELECT * FROM {table_name} LIMIT 5;"
df = pd.read_sql(query, conn)

#Show the data
df

,PatientDurableKey,FirstProcedureKey,AccessionNumber,OrderingDateKey,IsAbnormal,PerformingEncounterKey,ExamStartDateKey,ExamStartInstant
0,91,1001,12345678,20210601,0,100010,20210701.0,2021-07-01 09:15:00
1,91,1002,ABC1234567,20210601,0,100011,20210701.0,2021-07-01 13:00:00
2,92,1003,ABC1234560,20200521,0,100012,20200501.0,2020-05-01 14:30:13
3,95,1003,MIG0234560,20150521,0,-1,20150501.0,2015-05-01 14:30:13
4,92,1010,AA12345601,20200522,0,100110,20200523.0,2020-05-23 14:31:11

In [7]:
#More complex query with a join
query = """
SELECT a.EncounterKey, a.AdmissionDateKey, b.AgeKey
FROM HospitalAdmissionFact a
JOIN EncounterFact b ON a.EncounterKey = b.EncounterKey
LIMIT 10;
"""
df = pd.read_sql(query, conn)
print(df)

   EncounterKey  AdmissionDateKey  AgeKey
0           912          20200101      16
1           913          20200101      23
2           915          20200101      45

In [8]:
# Close the connection when done
conn.close()